﻿@charset "utf-8";

select{line-height:20px; height:20px; border:1px solid #cccccc;}
.af:after{content:""; clear:both; display:block; }

/* layout */
body{}
#loginwrap {height:100%;width:100%;overflow:hidden;background:url(../images/bg_login.png) center 0 no-repeat;}
#loginwrap-pothole {height:100%;width:100%;overflow:hidden;background:url(../images/bg_login_pothole.png) center 0 no-repeat;}
.glogo{position:absolute;top:30px;left:30px}
.logo{position:absolute;top:175px;left:440px}
.logo-pothole{position: absolute;top: 175px;left: 490px;width: 225px;}
.login{position:relative;margin:0px auto 0;width:1200px;}
.loginbx{width:290px;margin:0px auto; padding-top:180px;text-align:center}
.loginbx .tit{margin-bottom:20px}
/* .form{width:290px;position:relative;margin:0 auto;} */
.form{width:290px;position:relative;margin:50px auto 0px auto;}
.form li{font-family:NanumGothicBold; color:#fff;font-size:13px;padding-bottom:5px;}
.form li label{width:70px;display:inline-block}
.form li a{color:#fff;}
.form li a:hover{color:#fff045;}
.form li a.btn{color:#fff;display:block;height:33px;background:#4587ff;border-radius:2px;margin-top:5px;line-height:33px;}
.form li a.btn:hover{color:#fff;display:block;height:33px;background:#145ad9;border-radius:2px;margin-top:5px;line-height:33px;}

.iplogin{height:31px; width:290px;border:1px solid #c5cbd9;border-radius:2px;}

.loginCon{width:640px;margin:180px auto;padding:0 40px;}
.bn{width:270px;float:right}
.bn li{float:left;}
.bn li:nth-child(2n){margin-left:10px;}
.bn li:nth-child(3),.bn li:nth-child(4){margin-top:10px;}

.notice{width:320px;float:left}
.notice h3{font-family:NanumGothicBold; color:#333;font-size:18px;border-bottom:1px solid #ddd;line-height:35px;}
.notice h3 img{vertical-align:middle}
.notice li{border-bottom:1px solid #ddd;line-height:47px;}
.notice li:after{content:""; clear:both; display:block; }
.notice li img{vertical-align:middle}
.notice li .ntxt{float:left;display:block; width:190px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; font-size:15px; color:#333;background:url(../images/ic_notice.gif) 0 center no-repeat;text-indent:7px;}
.notice li .date{font-size:15px; color:#333;/* float:right */}

#loginfooter{background:#eeeeee;height:60px;z-index:999;bottom:0px; left:0px; right:0; position:absolute;text-align:center;line-height:60px;}

#loginfooter span{ font-size:13px; color:#333;font-family:NanumGothicBold; margin-left:100px;}